%p#notice= notice

%p
  %b Box:
  = @activity.box_id
%p
  %b Name:
  = @activity.name
%p
  %b Notes:
  = @activity.notes

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
