%p
  =link_to "Design Boxes", Box
  >
  =link_to @activity.box.theme, @activity.box
  > Activities

%h3
  =@activity.name
  .right-align
    =link_to "Edit", edit_activity_path(@activity)
    |
    =link_to "Destroy", @activity, :confirm => 'Are you sure?', :method => :delete

%p=@activity.notes

%h4
  Ingredients in this Activity
  =link_to "(New)", "/activities/#{@activity.id}/ingredients/new"
%ul
-@activity.ingredientisations.each do |i|
  %li
    =i.ingredient.name
    x
    =i.quantity
    (
    =link_to "Edit", "/activities/#{@activity.id}/ingredients/#{i.id}/edit"
    =link_to "Delete", "/activities/#{@activity.id}/ingredients/#{i.id}", :confirm=>"Are You Sure?", :method=>:delete
    )