%html
	%head
		%title Little Hoshi
		= google_webfonts_link_tag :sue_ellen_francisco
		= google_webfonts_link_tag :raleway=>[200,300,600]
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body{:id=>"#{controller.controller_name}_#{controller.action_name}"}
		.container{:class=>"#{'showgrid' if params.has_key?(:showgrid)}"}
			.span-24.last
				.span-1 &nbsp;
				#logo.span-6.colborder 
					=image_tag "/images/watercolour_star.jpg"
					%h1 Little Hoshi
					%h2 
						(Educationally Enriching) 
						%b Activity Boxes
					%br
					%br
					%br
				.span-15
					%br
					#navbar.span-15.last
						.span-5 &nbsp;
						.span-2=link_to "Home", root_path
						.span-2=link_to "The Boxes", "/boxes"
						.span-2=link_to "Pricing", "/pricing"
						-if user_signed_in?
							.span-2=link_to "Log out", "/logout"
							.span.last-2=link_to "My Account", ""
						-else
							.span-2=link_to "Login", "/login"
							.span.last-2=link_to "Register", "/register"
						
					#yield.span-15.last=yield
				.span-1.last &nbsp;