<!DOCTYPE html>
<html>
<head>
  <title>Littlehoshi</title>
  <%= google_webfonts_link_tag :sue_ellen_francisco %>
  <%= google_webfonts_link_tag :raleway=>[200,300,600] %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container <%= 'showgrid' if Rails.env.development? or params.has_key?(:showgrid) %>">
	
	<div class="span-24 last"></div>
		<div class="span-1">&nbsp;</div>
		<div class="span-6 last">
			<h1>Little Hoshi</h1>
			<h2>(Educationally Enriching) <b>Activity Boxes</b></h2>
			<div class="comingsoon">
				Activity boxes for children.<br />
				Curated by an educationalist and designed for fun!<br />
				Coming soon!
			</div>
		</div>
	</div>
	
	<%= 	yield %>
</div>

</body>
</html>
